:root,
html {
  font-size: 0.625em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4ed;
  font-size: 1.6rem;
  color:#2e2e2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.confirmation-modal
{
background:red;
}

body .confirmation-modal .react-confirm-alert-body
{
 border-radius: 0;; 
}
body .confirmation-modal button
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #c06014;
  color: #f3f4ed;
  border-color: #fff;
  font-size: 1.7rem;
  border: none;
  padding: 0.5rem 1.3rem; 
  border-radius: 0;;
}

body .confirmation-modal button:nth-child(2)
{

  background-color: #f3f4ed;
  color: #2a3751;

}

.confirmation-modal .react-confirm-alert-overlay
{
  animation: react-confirm-alert-fadeIn 0.2s 0.1s forwards;
}